body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(1 img.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}
.container{
    max-width: 1200px;
    padding: 0 100px;
    margin: 0 auto;
}
.navigation-bar{
    width: 100%;
    display: flex;
    padding: 1px 0;
    align-items: center;
    justify-content: space-between;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin-top: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: monospace;
    padding: 20px 10px;
    background: transparent;
}
nav ul li a:hover{
    border-bottom: 1px solid whitesmoke;
    color: tomato;
    background-color: transparent;

}
.logo{
    width: 150px;
    cursor: pointer;
}
